/* ------------ Global -------------- */
body {
  max-width: 100%;
  padding: 1em;
  font-family: Playfair Display, Arial, sans-serif;
  display: grid;
  grid-template-columns: 1fr;
}

ul {
  list-style: none;
}
/*
div, section, main, aside, header, footer {
  border: 1px solid lightgray;
  padding: .5em;
  margin-bottom: 1em;
}
*/
img {
  height: 25%;
  width: 25%;
}


header {

  }

  nav {

  }

/* ------------- NOTE: Remember to create a "Favicon" Icon ----------------- */
/* Pattern Library */

/* -------------- Header --------------- */
.header-logo {
  background-image: url("https://rwdkent.com/class/groups/assets/group6/buckeye.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60% 60%;
  fill: white; /*-- NOT WORKING!!! */
  width: 50%;
  height: 50%;
  position: relative;
  top: 150px;
  left: 25%;
  border: .09em solid white;
}

.hero-img {
  position: absolute;
  top: 0px;
  left: 0px;
  background-image: url("images/cabin-creek-landing-bed-and-breakfast-marion-mt.jpg");
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}

.nav-bar {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
  grid-gap: auto;
  align-items: center;
  text-align: center;
  width: 50%;
  height: 4%;
  position: absolute;
  top: 25px;
  right: 10px;
}

a.icon {
  color: white;
}

.icon {
  opacity: .6;
}

div.arrow {
  color: white;
}

.arrow {
	position: absolute;
  bottom: 5%;
  left: 50%;
  opacity: .8;
}

/* -------------- Main Section --------------- */

main {
  color: black;
  position: absolute;
  top: 100%;
  left: 0px;
  background: linear-gradient(45deg, rgba(191, 195, 199, .2), white);
  min-width: 100%;
  min-height: 500px;
  text-align: center;
  padding-top: 5em;
}

.main-heading {
  display: grid;
  grid-template-columns: 1fr 2fr;
  font-family: cursive;
  padding-left: 4em;
}

.img1 {
  position: absolute;
  top: 60px;
  right: 80px;
  width: 550px;
  height: 300px;
}

.img2 {
  position: absolute;
  top: 250px;
  right: 350px;
  width: 350px;
  height: 250px;
}

.img2, .img3 {
  border: .5em solid white;
}

.img3 {
  position: absolute;
  top: 300px;
  right: 200px;
  width: 175px;
  height: 175px;
}

/* -------------- Section (Room) --------------- */
.room-wrapper {
  position: absolute;
  top: 1220px;
  left: 0px;
  background-color: rgba(112, 124, 139, .5);
  min-height: 500px;
  min-width: 100%;
}

.room-img {
  position: absolute;
  top: 50px;
  left: 50px;
  min-width: 600px;
  min-height: 350px;
  border: 1em solid white;
}

.overlapping_sqr {
  min-width: 350px;
  min-height: 450px;
  position: absolute;
  top: 250px;
  right: 250px;
  background-color: rgba(43, 46, 49, .8);
}

.empty-box {
  min-width: 350px;
  min-height: 200px;
  border: .25em solid rgba(210, 180, 140, 1);
  position: absolute;
  top: 150px;
  right: 140px;
  background-color: transparent;
}

.price {
    position: absolute;
    bottom: 0px;
    left: 10px;
    color: rgba(210, 180, 140, 1);
    font-size: 3em;
}

/* -------------- Section (Testimonials) --------------- */

.testimonials {
  position: absolute;
  top: 2000px;
  left: 0px;
  min-width: 100%;
  min-height: 500px;
  background-color: rgba(191, 195, 199, .2);
  text-align: center;
}

.testimonials-img {
  background-image: url("https://i.postimg.cc/Cxft0Kdv/elon-musk.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 10em; /* NOT WORKING */
  min-width: 100px;
  min-height: 200px;
}


/* -------------- Section (Footer) --------------- */
footer {
  text-align: center;
  position: absolute;
  top: 2500px;
  left: 100px;
  color: black;
}

.address {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.social-media-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.social-media {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  color: black;
}


h1{

}

h2 {

}
h3 {

}
h4 {

}
h5 {

}
h6 {

}

p {

}
