/* NOTE:
  - Date: 12/6/2018   TIME: 2:59pm
  - Optimizing Code.
  - Create a Reservation Bar.
  -
*/
/* ------------- NOTE: Remember to create a "Favicon" Icon ----------------- */
/* Pattern Library */
/* ============================== Global ==================================== */


body {
  max-width: 100%;
  padding: 1em;
  font-family: 'Playfair Display SC', serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background: clear;
  overflow-x: hidden;
}

li {
  list-style-type: none;
}

header {
  background-color: white;
}

main {
  margin: 0;
}

a {
  text-decoration: none;
}

/* ================================ Menu  =================================== */
#menuToggle a {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
}

#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  /* Position in front */
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
}

/*
 * Used to create the hamburger symbol
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: black;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked~span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: white;
}

/*
 * Hide the middle one.
 */
#menuToggle input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * The last one should go the other direction
 */
#menuToggle input:checked~span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 200px;
  height: 489px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: rgba(47, 79, 79, .5);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

/*
 * Slide it in from the left
 */
#menuToggle input:checked~ul {
  transform: none;
}

#social {
  position: absolute;
  top: 85%;
  left: 0px;
  display: flex;
  flex-direction: row;
}

.spacing {
  margin: 0 0 0 1em;
}

/* ------------------------------ Scroll Btn -------------------------------- */
.click-btn-rms, .menu-btn {
  font-size: 1.2em;
  border: .1em solid white;
  color: white;
  bottom: 0px;
  margin: 0;
  padding: .25em;
  position: absolute;
  bottom: 10%;
  left: 44%;
  transition: all 0.3s ease-in;
}

.click-btn-rms:hover, .menu-btn:hover {
  color: black;
  background-color: white;
  padding: .50em;
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/* =========================== Index.html  ================================== */
/* -------------- Header --------------- */
.res-wrapper {

  top: 25%;
  left: 0%;
  flex-direction: row;
  width: 100%;
  text-align: center;
  color: white;
  margin: 0;
}

.res-wrapper li {
  border: .1em solid white;
  margin: .5em;
  padding: 1em;
}

.res-wrapper li:nth-child(5) {
  font-size: 3em;
  color: #FFF;
  padding: 1em;
  margin-right: 0;
}

.res-wrapper li:nth-child(5):hover {
  font-size: 3em;
  color: #000;
  background-color: #FFF;
  padding: 1em;
  margin-right: 0;
  border-radius: 10%;
}

.header-logo, .header-logo-rms {
  fill: white;
  stroke: none;
  top: 5%;
  left: 85%;
}

.header-logo {
  width: 15%;
  height: 15%;
  position: relative;
}


/*
 * Stylings for the "Home Sweet Home" slogan.
 */
.motto {
  color: white;
  font-size: 3em;
  font-weight: lighter;
  position: absolute;
  bottom: 20%;
  left: 32%;
}

.hero-img {
  position: relative;
  top: -30px;
  left: 0px;
  padding-top: 1.25em;
  background-image: url("images/cabin-creek-landing-bed-and-breakfast-marion-mt.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  height: 650px;
  width: 100%;
}

/*
 * Create a black tint over the header image.
 */
.hero-img:before, .rooms-header:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.55);
}

/* -------------- Main Section --------------- */
main::before {
  content: "";
  display: block;
  height: 10px;
}

.main-heading {
  position: relative;
  margin: 1em;
  padding: 2em;
  color: black;
  top: 0px;
  left: 0px;
  min-width: 90%;
  min-height: 500px;
  text-align: center;
}

.main-heading::after {
  content: "";
  display: block;
  clear: both;
  height: 10px;
}

.content-left {
  position: relative;
  float: left;
  line-height: 1.85em;
  opacity: 0;
  max-width: 300px;
  max-height: 400px;
  transform: translateX(-20px);
  transition: all 1s ease-in;
  margin-left: 4em;
  margin-top: 0;
  top: -20px;
  left: 10px;
  padding: 2em 2em 8em 2em;
  border: .1em solid yellow;
}

.content-right {
  float: right;
  margin: 0;
  opacity: 0;
  width: 100px;
  height: 100px;
  transform: translateX(10px);
  transition: all 1s ease-in;
}

.specials-wrapper {
  position: relative;
  top: 200px;
  margin-top: 1em;
  padding-bottom: 2em;
  text-align: center;
  width: 100%;
}

.specials-wrapper div {
  margin: 3em;
}

.specials-wrapper::after {
  content: "";
  display: block;
  height: 5px;
  clear: both;
}

.spl-img {
  float: left;
  position: relative;
  left: 20px;
  background-image: url("images/breakfast-in-bed.jpg");
  background-size: cover;
  background-position: center;
  width: 400px;
  height: 400px;
  transform: translateY(-100px);
  opacity: 0;
  transition: all 1s ease-in;
}

.spl-content {
  color: black;
  text-align: justify;
  line-height: 1.75;
  padding: 0 10em 0 0;
  border: .15em solid rgba(94, 121, 147, 1);
  transform: translateY(100px);
  opacity: 0;
  transition: all 1s ease-in;
}

.spl-content span {
  font-size: 3em;
  letter-spacing: .1em;
}

.spl-btn {
  padding-top: 1em;
  text-align: center;
  position: relative;
  top: -20px;
  left: 87%;
  width: 100px;
  height: 50px;
  border: .1em solid black;
}

.spl-btn:hover {
  color: #FFF;
  background: #61574B;
  border-radius: 20%;
}

.specials-wrapper::after {
  height: 5px;
  content: "";
  display: block;
  clear: both;
}

.isShowing-main2 {
  opacity: 1;
  transform: translateY(0px);
}

.isShowing-main {
  opacity: 1;
  transform: translateX(0px);
}

.our-story-wrapper {
  position: relative;
  top: 400px;
  margin-top: 2em;
  padding-bottom: 2em;
  text-align: center;
  width: 100%;
}

.os-content {
  float: left;
  color: black;
  text-align: justify;
  line-height: 1.75;
  padding: 0 30em 0 10em;
  border: .15em solid rgba(255, 223, 0, 1);
}

.os-img {
  position: relative;
  top: -250px;
  right: 30px;
  float: right;
  background-image: url("images/Owners-Buckeye.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 400px;
  height: 400px;
}

.os-content span {
  font-size: 3em;
  letter-spacing: .1em;
}

.img1 {
  position: absolute;
  top: 60px;
  right: 80px;
  width: 550px;
  height: 300px;
}

.img2 {
  position: absolute;
  top: 250px;
  right: 350px;
  width: 350px;
  height: 250px;
}

.img2, .img3 {
  border: .5em solid white;
}

.img3 {
  position: absolute;
  top: 300px;
  right: 200px;
  width: 175px;
  height: 175px;
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/* ========================= contacts.html ================================== */
body.bcontacts {
  width: 50%;
  height: 50%;
  background: linear-gradient(to right, rgba(127, 125, 125, .2), white);
}

section.form-wrapper {
  position: relative;
  top: -120px;
  left: 25%;
  width: 50%;
  height: 400px;
  background-color: white;
  padding: 5em 2em 0em 2em;
  margin: 0;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

/* ====== Header Sec (On Contacts Page) ======= */
header.header-wrapper {
  background-image: url("images/bed-blur-breakfast-405237.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  left: 0px;
  min-width: 100%;
  min-height: 300px;
}

div.header-content {
  color: white;
  font-size: 5em;
  text-align: center;
  position: relative;
  top: 100px;
}

main.main-contacts {
  position: absolute;
  top: 370px;
  left: 0px;
  width: 100%;
}

div.contacts-msg {
  position: relative;
  top: 0px;
  left: 0px;
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/* ======================= Footer Sec (On Contacts Page) ==================== */
footer.footer-contact {
  position: absolute;
  top: 1200px;
  left: 0px;
  width: 100%;
  margin: 0;
  background-color: rgba(81, 97, 118, .5);
  padding-top: 2em;
}

svg.footer-contacts {
  width: 10%;
  height: 10%;
}

div.contacts-wrapper {
  position: absolute;
  top: 325px;
  left: 60%;
  width: 300px;
  height: 500px;
  background: linear-gradient(to bottom, rgba(255, 238, 211, 1), white);
  text-align: center;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

ul.contacts-address {
  display: grid;
  grid-template-columns: 1fr;
}

/*
 * This is the map from maps.google.com
 */
iframe {
  position: absolute;
  top: 330px;
  width: 100%;
  height: 500px;
}

.contacts-form {
  width: 90%;
  height: 400px;
  position: relative;
  top: 0px;
  text-align: center;
}

input.fullName, .email {
  display: flex;
  align-content: left;
  width: 50%;
  margin-left: 1em;
  padding-left: .2em;
}
